/node_modules
/packages
/public/storage
/public/hot
/storage/*.key
/vendor
/resources/assets/js/vendor
/resources/assets/sass/vendor
/resources/assets/fonts/vendor
/resources/views/vendor
/.vagrant
/.idea
Homestead.json
Homestead.yaml
composer.lock