@import "~gmf/theme/engine";

@include md-register-theme("blue",(
  primary:md-get-palette-color(blue, 600),
  accent:md-get-palette-color(deeporange, 600),
  text-primary-on-primary:#FFFFFF,
  background-variant:#f0f0f0,
  primary-on-background:md-get-palette-color(blue, 600),
));

@import "./imports.scss";

